/* @import  */

@font-face {
  font-family: "PlusJakartaSansBold";
  src: local("PlusJakartaSansBold"),
    url("./fonts/PlusJakartaSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "PlusJakartaSansExtraBold";
  src: local("PlusJakartaSansExtraBold"),
    url("./fonts/PlusJakartaSans-ExtraBold.ttf") format("truetype");
}




/* base styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
}

.hero-page {
  background-color: #FAFAFA;
  background-image: url('./assets/lines.png');
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 2% 0 0 0;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3% 9% 1% 9%;
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: transparent;
  top: 0;
}


.nav.active {
  background-color: #FAFAFA;
  padding: 1.5% 10%;
}

.nav a {
  text-decoration: none;
}

.nav h1 {
  color: #18181B;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 3px;
  text-transform: uppercase;

}

.btn {
  width: 180px;
  height: 45px;
  border: 1.5px solid #623CE7;
  background-color: transparent;
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #623CE7;
}

.btn:hover {
  background: #623CE7;
  color: #FFFFFF;
}

.landing-page {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 5% 0 0 0
}

.landing-page-text {
  /* margin-right: 3%; */
  color: #18181B;
}

.landing-page-text h2 {
  font-family: "PlusJakartaSansExtraBold";
  width: 460px;
  font-weight: 800;
  font-size: 60px;
  /* line-height: 66px; */
}

.landing-page-text p {
  width: 490px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin: 10% 0;
}

.landing-page-text .btn,
.fin-text .btn {
  width: 179px;
  height: 55px;
  background: #623CE7;
  border-radius: 10px;
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 1px;
  color: #FFFFFF;
}

.landing-page-text .btn:hover,
.fin-text .btn:hover {
  background-color: #FFFFFF;
  color: #623CE7;
  border: 1.5px solid #623CE7;
}



.landing-page-image {
  width: 800px;
  height: 780px;
  margin-bottom: 30px;
  /* width: 550px;
  height: 530px; */
  background-image: url('./assets/person1.png');
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  /* width: 90%; */
}



.category h3 {
  font-family: "PlusJakartaSansBold";
  font-weight: 700;
  font-size: 35px;

  text-align: center;

  color: #000000;
}

.category p {
  width: 600px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin: 2% 0;
  /* or 156% */

  text-align: center;

  color: #18181B;
}

.individual,
.business {
  margin: 0 30px;
  display: flex;
}

.individual img,
.business img {
  /* max-width: 100%; */

}

.fin-text h3 {
  font-family: "PlusJakartaSansBold";
  /* width: 410px; */
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  /* or 37px */


  color: #000000;
}

.fin-text p {
  width: 420px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  margin: 10% 0;
}



.footer {
  height: 177px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #623CE7;
}

.footer p {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 156% */

  text-align: center;

  color: #FFFFFF;
}


/* responsiveness */



@media only screen and (max-width: 1681px) {}

@media only screen and (max-width: 1441px) {

  .landing-page-image,
  .individual img,
  .business img,
  .fin-image img {
    width: 550px;
  }
  .landing-page-image {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 1366px) {
  .nav, .nav.active{
    padding: 3% 9% 1% 11%;
  }
  .landing-page {
    /* margin: 0 */
    margin: 8% 0 0 0
  }
 
  .landing-page-text h2 {
    font-size: 50px;
  }
  .landing-page-text p {
    font-size: 18px;
    line-height: 28px;
  }
  .landing-page-image {
    width: 410px;
    height: 510px;
  }
  .category h3,.fin-text h3 {
    font-size: 28px;
  }
  .individual img,
  .business img,
  .fin-image img{
    width: 450px;
  }
}


@media screen and (max-width: 1281px) {
  .nav{
    padding: 3% 9% 1% 8%;
  }
  .nav.active {
    padding: 3% 9% 3% 8%;
  }

  .landing-page-image,
  .individual img,
  .business img,
  .fin-image img {
    width: 500px;
    margin: 0;
  }

}

@media only screen and (max-width: 1152px) {
  .landing-page {
    margin: 10% 0 0 0 !important;
  }

  .landing-page-image {
    width: 400px;
    height: 500px;
  }

  .landing-page-text h2 {
    font-size: 55px;

  }

  .individual img,
  .business img,
  .fin-image img {
    width: 450px;

  }

  .fin-text h3 {
    /* width: 420px; */
    font-size: 35px;
  }
}

@media only screen and (max-width: 1024px) {
  .nav {
    padding: 3% 9% 1% 5%;

  }
  .nav.active {
    padding: 3% 9% 3% 5%;

  }

  .landing-page-text h2 {
    width: 400px;
    font-size: 45px;
    line-height: 58px;
  }

}

@media screen and (max-width: 821px) {
  .nav {
    padding: 3% 6% 1% 6%;

  }
  .nav.active {
    padding: 3% 6%;

  }
  .btn {
    width: 135px;
  }

  .landing-page-text p {
    width: 320px;
    margin: 8% 0;
    text-align: justify;
  }


  .landing-page-text h2 {
    width: 345px;
    font-size: 38px;
    line-height: 48px;
  }

  .landing-page-image {
    width: 335px;
    height: 445px;
  }

  .category h3 {
    font-size: 25px;
  }

  .category p {
    width: 520px;
    font-size: 14px;
    line-height: 20px;
  }
  .individual img, .business img{
    width: 335px;
}

  .landing-page-text .btn,
  .fin-text .btn {
    width: 145px;
    height: 50px;
    font-size: 16px;
  }


  .fin-text h3 {
    /* width: 300px; */
    font-size: 25px;
  }

  .fin-text p {
    width: 320px;
    font-size: 16px;
    line-height: 25px;
    margin: 8% 0;
  }

  .fin-image img {
    width: 380px;
  }

  .footer {
    height: 150px;
  }

  .footer p {
    font-weight: 400;
    font-size: 16px;
  }

}

@media only screen and (max-width: 769px) {
  .nav {
    padding: 3% 8% 1% 8%;
  }
  .nav.active{
    padding: 3% 8%;
  }
  .btn {
    width: 115px;
    height: 40px;
    font-size: 14px;
  }

  .landing-page {
    margin: 5% 50px 35px !important;
  }

  .landing-page-text p {
    width: 295px;
    font-size: 16px;
    text-align: justify;
  }

  .landing-page-text .btn,
  .fin-text .btn {
    width: 130px;
    font-size: 15px;
  }

  .landing-page-text h2 {
    width: 296px;
    font-size: 32px;
    line-height: 40px;
  }


  .category h3 {
    font-size: 22px;
  }

  .category p {
    width: 520px;
    font-size: 14px;
    line-height: 20px;
  }

  .individual,
  .business {
    margin: 0 10px;
  }

  .individual img,
  .business img,
  .fin-image img {
    /* max-width: auto; */
    width: 330px;
  }


  .fin-text h3 {
    /* width: 300px; */
    font-size: 22px;
  }

  .fin-text p {
    width: 300px;
    font-size: 14px;
  }

  .fin-image img {
    width: 340px;
  }

}

@media only screen and (max-width: 600px) {
 
  .landing-page {
    margin: 10% 8% 0 8% !important;
  }

  .landing-page-text h2 {
    width: 250px;
    font-size: 28px;
    line-height: 35px;
  }

  .landing-page-text p {
    width: 225px;
    font-size: 14px;
  }

  .landing-page-image {
    width: 280px;
    height: 320px;
  }

  .category h3 {
    font-size: 20px;
    width: 400px;
    margin: 8% 0;
  }


  /* .category h3 {
    margin: 0;
  } */

  .individual img,
  .business img {
    width: 100%;
  }

  .fin-image img {
    width: 260px;
  }

  .fin-text h3 {
    /* width: 288px; */
    font-size: 20px;
  }

  .fin-text p {
    width: 250px;
    font-size: 14px;
    line-height: 20px;
  }

  .landing-page-text .btn,
  .fin-text .btn {
    width: 110px;
    height: 45px;
    font-size: 14px;
  }

  .footer {
    height: 110px;
  }

}

@media only screen and (max-width: 551px) {
  .hero-page {
    background-image: none;
  }

  .nav h1 {
    font-size: 18px;
  }

  .btn {
    width: 90px;
    height: 35px;
  }

  .landing-page,
  .categories,
  .fin-support {
    flex-direction: column !important;
    text-align: center !important;
  }

  .landing-page {
    margin: 10% 8% 0 8% !important;
  }

  .landing-page-text h2 {
    width: 450px;
    margin: 3% auto;
  }

  .landing-page-text p {
    width: 345px;
    text-align: center;
    margin: 0 auto 3% auto;
  }

  .landing-page-image {
    width: 330px;
    height: 420px;
  }



  .category {
    margin: 10% auto 0 auto !important;
  }

  .category p {
    width: 420px;
  }

  .individual,
  .business {
    margin: 20px auto;
  }

  .individual img,
  .business img {
    width: 80%;
    margin: 0 auto;
  }

  .fin-text h3 {
    /* width: 295px; */
    margin: 0 auto;
  }

  .fin-text p {
    width: 320px;
    margin: 5% 0;
  }

  .fin-image img {
    width: 350px;
  }


}

@media only screen and (max-width: 426px) {
  .nav {
    padding: 3% 10% !important;
  }

  .landing-page {
    margin: 10% 8% 0 8% !important;
  }

  .landing-page-text h2 {
    width: 345px !important;
    margin: 8% auto 5% auto;
  }

  .landing-page-text p {
    width: 310px;
  }
  .fin-text h3 {
    font-size: 18px;
  }

  .category h3 {
    font-size: 18px;
    width: 275px;
  }

  .category p {
    width: 335px;
    white-space: break-spaces;
  }

  .individual img,
  .business img {
    width: 350px;
  }


}

@media only screen and (max-width: 391px) {
  .nav h1 {
    font-size: 14px;
  }


  .fin-text h3 {
    /* width: 265px; */
    text-align: left;
    margin-right: 50px;
  }

  .fin-text p {
    width: 280px;
    margin: 5% 0;
    text-align: left;
  }

  .fin-image img {
    width: 320px;
  }
}

@media only screen and (max-width: 375px) {

  .landing-page-image {
    width: 320px;
    height: 410px;
  }

  .category {
    margin: 15% auto !important;
  }

  .category p {
    width: 325px;
  }

  .individual img,
  .business img {
    width: 330px;
  }


  .footer p {
    font-size: 12px;
  }
}

@media only screen and (max-width: 360px) {

  .individual img,
  .business img,
  .fin-image img {
    width: 300px;
  }

  .landing-page-image {
    width: 308px;
  }

  .individual img,
  .business img {
    width: 320px;
  }


}

@media only screen and (max-width: 321px) {
  .landing-page {
    margin: 10% 8% 0 8% !important;
  }

  .landing-page-text h2 {
    width: 253px !important;
    line-height: normal;
    font-weight: bolder;
    margin: 10% auto 5% auto;
  }

  .landing-page-text .btn,
  .fin-text .btn {
    width: 150px;
    height: 45px;
  }

  .landing-page-image {
    width: 270px;
    height: 360px;
  }


  .category {
    margin: 20% auto 0 auto !important;
  }

  .category p {
    width: 290px;
  }

  .individual img,
  .business img,
  .fin-image img {
    width: 295px;
  }

  .fin-text h3 {
    margin: 0;
  }

}